/* Home Page Styles */
body {
    font-family: sans-serif;
}
header, footer {
    background-color: #000000;
    color: rgb(234, 0, 255);
    padding: 1rem;
}
.featured-products {
    display: grid;
    gap: 6rem;
}